## How to use Regex in Pandas

There are several pandas methods which accept the regex in pandas to find the pattern in a String within a Series or Dataframe object. These methods works on the same line as Pythons re module. Its really helpful if you want to find the names starting with a particular character or search for a pattern within a dataframe column or extract the dates from the text.

## Import pandas as pd and re 
Read the csv file.

In [9]:
import pandas as pd
import re
import numpy as np

In [4]:
df = pd.read_csv('./world-happiness-report-2019.csv')

Extract the first 5 characters of each country using ^(start of the String) and {5} (for 5 characters) and extract() create a new column named "first_five_letter."

https://armin.tistory.com/entry/pythonstring-%EB%AC%B8%EC%9E%90%EC%97%B4-%EC%95%9E-f-r-%EC%9D%98-%EC%9D%98%EB%AF%B8-formatter-string%EA%B3%BC-raw-string

In [30]:
df['first_five_Letter']=df['Country (region)'].str.extract(r'(^\w{5})')
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Finla
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Denma
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Norwa
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Icela
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Nethe

In our Original dataframe we are finding all the Country that starts with Character ‘P’ and ‘p’ (both lower and upper case). Basically we are filtering all the rows which return count > 0 using count().

In [31]:
df[df['Country (region)'].str.count('^[pP].*')>0]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
30,Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,Panam
39,Poland,40,28,76.0,33.0,44.0,52.0,108.0,77.0,41.0,36.0,Polan
62,Paraguay,63,90,1.0,39.0,30.0,34.0,76.0,67.0,90.0,81.0,Parag
64,Peru,65,114,36.0,127.0,77.0,61.0,132.0,126.0,76.0,47.0,NaN
65,Portugal,66,73,97.0,100.0,47.0,37.0,135.0,122.0,39.0,22.0,Portu
66,Pakistan,67,53,130.0,111.0,130.0,114.0,55.0,58.0,110.0,114.0,Pakis
68,Philippines,69,119,42.0,116.0,75.0,15.0,49.0,115.0,97.0,99.0,Phili
109,Palestinian Territories,110,110,128.0,140.0,82.0,134.0,90.0,147.0,112.0,NaN,Pales

Running the same match() method and filtering by Boolean value True we get all the Countries starting with ‘K’ in the original dataframe.

In [32]:
df[df['Country (region)'].str.match('^K.*')== True]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
45,Kosovo,46,107,71.0,7.0,85.0,50.0,144.0,31.0,88.0,NaN,Kosov
50,Kuwait,51,98,89.0,97.0,69.0,47.0,NaN,42.0,5.0,70.0,Kuwai
59,Kazakhstan,60,40,81.0,5.0,19.0,80.0,57.0,57.0,47.0,88.0,Kazak
85,Kyrgyzstan,86,46,58.0,4.0,45.0,38.0,138.0,36.0,120.0,91.0,Kyrgy
120,Kenya,121,118,59.0,46.0,123.0,72.0,105.0,26.0,122.0,106.0,Kenya

In our original dataframe we will filter all the countries with character ‘or’. We just need to filter all the True values that is returned by contains() function.

In [34]:
df[df['Country (region)'].str.contains('or.*')==True]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Norwa
33,Singapore,34,5,38.0,2.0,36.0,20.0,1.0,21.0,3.0,1.0,Singa
34,El Salvador,35,112,23.0,84.0,83.0,74.0,85.0,134.0,100.0,75.0,NaN
49,Ecuador,50,113,11.0,113.0,71.0,42.0,68.0,95.0,86.0,45.0,Ecuad
53,South Korea,54,57,101.0,45.0,91.0,144.0,100.0,40.0,27.0,9.0,South
63,Northern Cyprus,64,35,144.0,90.0,81.0,77.0,29.0,43.0,NaN,NaN,North
65,Portugal,66,73,97.0,100.0,47.0,37.0,135.0,122.0,39.0,22.0,Portu
88,Morocco,89,101,110.0,91.0,139.0,76.0,84.0,154.0,98.0,79.0,Moroc
98,Ivory Coast,99,134,88.0,130.0,137.0,100.0,62.0,114.0,118.0,147.0,Ivory
100,Jordan,101,127,112.0,120.0,88.0,88.0,NaN,118.0,92.0,63.0,Jorda
109,Palestinian Territories,110,110,128.0,140.0,82.0,134.0,90.0,147.0,112.0,NaN,Pales
118,Georgia,119,51,141.0,43.0,147.0,104.0,28.0,153.0,87.0,84.0,Georg
141,Comoros,142,143,67.0,114.0,143.0,148.0,81.0,62.0,143.0,117.0,Comor

In the last dataframe you filtered, chagne 'or' to '**'. We just change the 'Country (region)' series by apply() and replace() functions.

In [37]:
df['Country (region)'][df['Country (region)'].str.contains('or.*')==True].apply(lambda x : x.replace('or', '**'))

2                       N**way
33                   Singap**e
34                 El Salvad**
49                     Ecuad**
53                 South K**ea
63             N**thern Cyprus
65                    P**tugal
88                     M**occo
98                 Iv**y Coast
100                     J**dan
109    Palestinian Territ**ies
118                    Ge**gia
141                    Com**os
Name: Country (region), dtype: object